<h1>Cadastro de vacinas</h1>


<div  *ngIf="requestt">
<div class="col-md-11 control-label">
  <p class="help-block"><h6>*  Campo Obrigatório</h6>
</div>


<!-- Text input-->
<div class="form-group">
<label class="col-md-2 control-label" for="Nome">Nome da vacina<h6>*</h6></label>
<div class="col-md-4">
<input id="Nome" name="Nome" placeholder="Insira o nome" [(ngModel)]="requestt.fabricante"  class="form-control input-md" required="" type="text">
</div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label" for="NomeF">Nome do fabricante<h6>*</h6></label>
  <div class="col-md-4">
  <input id="NomeF" name="NomeF" placeholder="Insira o nome" [(ngModel)]="requestt.fabricante" class="form-control input-md" required="" type="text">
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="doses">Quantidade de doses<h6>*</h6></label>
    <div class="col-md-4">
    <input id="doses" name="doses" placeholder="EX : 20" [(ngModel)]="requestt.doses" class="form-control input-md" required="" type="text">
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="intervalo">Intervalo entre doses<h6>*</h6></label>
    <div class="col-md-4">
    <input id="intervalo" name="intervalo" placeholder="EX : 30" [(ngModel)]="requestt.doses" class="form-control input-md" required="" type="text">
  </div>

</div>
</div>

<div class="col-md-2">
  <button type="button" class="btn btn-primary" (click)="update()">GRAVAR</button>
  <button type="button" class="btn btn-primary"><a routerLink="/vacinas"> VOLTAR</a></button>
</div>
</div>


</div>
