<h1>Você deseja remover esse usuario?</h1>


<div  *ngIf="van">

 <div class="form-group">
 <label class="col-md-4 control-label" for="Nome">Id: <strong> {{van.id}} </strong></label>
 </div>

<div class="form-group">
<label class="col-md-4 control-label" for="Nome">Nome Completo:   <strong> {{van.id_usuario}} </strong></label>
</div>


<div class="form-group">
<label class="col-md-4 control-label" for="cpf">CPF : <strong> {{van.id_vacina}} </strong> </label>
</div>

<div class="form-group">
<label class="col-md-4 control-label" for="data_Nasc">Nascimento: <strong> {{van.data_aplicacao}} </strong> </label>
</div>


<div class="form-group">
<label class="col-md-4 control-label" for="prependedtext">Telefone:  <strong> {{van.numero_dose}} </strong> </label>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="endereco">Endereço <strong> {{van.proxima_dose}} </strong> </label>
</div>

  <div class="col-md-4">
    <button type="button" class="btn btn-primary" (click)="delete()">CONFIRMAR</button>
    <button type="button" class="btn btn-primary"><a routerLink="/usuarios"> VOLTAR</a></button>
  </div>
</div>
